
.progress-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 300px;
}

.progress {
  background-color: #e0e0e0;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
}

.progress-bar {
  background-color: #9c27b0;
  height: 100%;
  width: 0;
  transition: width 0.3s ease-in-out;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  padding-left: 5px;
}

.progress-values {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #666;
}

.amount {
  font-weight: bold;
  color: black;
}

.limit {
  opacity: 0.7;
  color: black;
}

.percentage {
  font-size: 12px;
  color: #666;
  text-align: center;
  margin-top: 2px;
}

.total-spent {
  font-weight: bold;
  color: black;
  font-size: 16px;
}

.details button {
  background-color: #9c27b0;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.fake-link {
  cursor: pointer;
}

.fake-link:hover {
  color: #7b1fa2;
  text-decoration: none;
}

.delete-button {
  background-color: transparent;
  border: none;
  color: #e74c3c;
  cursor: pointer;
  padding: 0;
  margin-left: 8px;
  font-size: 14px;
  transition: color 0.3s ease;
}

.delete-button:hover {
  color: #c0392b;
}

/* Estilos para el diálogo de confirmación */
.confirmation-dialog {
  padding: 20px;
  text-align: center;
}

.confirmation-message {
  font-size: 16px;
  margin-bottom: 20px;
}

.confirmation-buttons {
  display: flex;
  justify-content: center;
}

.confirm-button,
.cancel-button {
  padding: 8px 20px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.confirm-button {
  background-color: #e74c3c;
  color: white;
}

.cancel-button {
  background-color: #f2f2f2;
  color: #333;
}

.confirm-button:hover,
.cancel-button:hover {
  background-color: #c0392b;
}